.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    font-size: medium;
    max-width: 400px;
    min-height: 24vh;
    padding: 10px;
    /* line-height: 50px; */
  }
  

  .input_activity {
  border: 0;
  padding: 10px;
  border-radius: 10px;
  
}

.label {
  font-size: 1.1em;
  color: rgb(83, 12, 170);
  font-weight: 600;
}

.button {
  background-image: linear-gradient(to right, #821ccc 0%, #5e02a0 51%, #6a3093  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            

  border-radius: 10px;
  display: block;        
border: 0; 
}

.button:hover {
  background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


.deleteButton {
  background-image: linear-gradient(to right, #821ccc 0%, #5e02a0 51%, #6a3093  100%);
  /* margin: 1px; */
  padding: 4px 6px;
  /* text-align: center; */
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  border-radius: 4px;
  margin: 4px;
border: 0; 

}
